<%= render partial: "minions/header", locals: { minions: @minions } %>
<div class="container main">
    <h1 class="text-center title">Minions Store</h1>
    <%= render partial: "minions/card", locals: { minions: @minions } %>
</div>
<%= render partial: "minions/footer", locals: { minions: @minions } %>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

